NODE_ENV= #production | test || dev 
PORT=3000
HOST_API=http://localhost:3000/api

DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=5432

SENDER_EMAIL= # hotmail
SENDER_EMAIL_PASSWORD=

JWT_SECRET=secret_word
JWT_EXPIRE_TIME=2h

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=